*{
    box-sizing: border-box;
    font-size: 1.05rem;
}





#page-header-home{
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../img/uncharted_waters.jpg");
    height: 100vh;
}

.flex-heading{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.text-heading{
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    color:white;
    text-align: center; 
}




.homepage-paragraph-2{
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color:white;
    text-align: center;
}

.homepage-paragraph{
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
    color:white;
    text-align: center;
}

img{
    max-width: 70%;
    height: auto;
    object-fit: contain;
    margin: 20px 20px;
}

.flex-logo-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homepage-content-background{
    height: 300vh;
    background: linear-gradient(rgba(80, 67, 224, .9), #4BC8FC);
}

/* PAGES */


.page-header{
    background-position: center;
    background-size: cover;
    width:100%;
    height:100%;
    top:0px;
    left:0px;

}

#page-header-twelfth{
    background-image: linear-gradient(rgba(86, 117, 248, .9), rgba(86, 117, 248, .9)), url("../img/uncharted_waters.jpg");
}

#page-header-devised{
    background-image: linear-gradient(rgba(75, 200, 252, .9), rgba(75, 200, 252, .9)), url("../img/uncharted_waters.jpg");
}

#flex-heading-twelfth{
    
    height: 50vh;
    background-position: center;
}

#flex-heading-devised{
   
    height: 50vh;
    background-position: center;
    
}

.flex-pages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table{
    min-width: 45%;
}

td, tr{
    text-align: center;
    vertical-align: middle;
    font-size: .8rem;
}
table, th, td {
    border: 1px solid black;
}


/* SYMPOSIUM SECTION */
.background-blue{
    background: linear-gradient(rgba(80, 67, 224, .9), rgba(86, 117, 248, 1));
    background:rgba(80, 67, 224, .9);
}


#link-white{
    color: white;
}

.max-height-100vh{
    height: 100vh;
}

.height-symposium{
    height: 100vh;
}

/* HOME CONTENT SECTION */
.homepage-heading-2{
    font-size: 4rem;
    font-weight: bold;
}


.homepage-more-info-text{
    color: white;
    font-weight: bold;
    text-align: center;;
}

.homepage-content-text{
    color: white;
    
}

.flex-homepage-content{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
}


/* NAVBAR */
nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: .90rem;
    font-weight:600;

}

nav a:hover{
    color: #5675F8;
}
.flex-nav{
    display: flex;
    justify-content: center;
    background: transparent;
}

.flex-child-nav{
    padding: 4px;
    margin: 20px 10px;
}



/* FOOTER */ 
.background-black{
    background-color: #233847;
}

.footer-text{
    font-size: 0.8rem;
    color: white;
}

.footer-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer a{
    text-decoration: none;
    max-width: 50%
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer p{
    margin: 0;
}

.footer-content-margin{
    margin-top: 20px;
}

#footer-div{
    padding: 25px 0;
}

.footer-list-margin{
    margin: 0 20px;
}


/* UTILITY CLASSES */
#heading-yellow{
    color: #F7EE3E;
}

#heading-orange{
    color: #F7B76F;
}

.bold{
    font-weight: bold;
}

.mt--2{
    margin-top: -10px;
}

.text-yellow{
    color: #F7EE3E !important;
    text-shadow: 1px 1px  rgba(0,0,0,.12);
    text-shadow: 2px 2px  rgba(0,0,0,.12);

}

.text-yellow-2{
    color: #F7C93E;
}

.text-orange{
    color: #F7B76F !important;
    text-shadow: 1px 1px  rgba(0,0,0,.12);
    text-shadow: 2px 2px  rgba(0,0,0,.12);
}

.border{
    border: 1px solid black;
}

.m-0{
    margin: 0px;
}
.namecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.12);
    box-shadow: 2px 2px 1px rgba(0,0,0,.12);
    margin: 10px 10px;

}

.circle{
    height: 15px;
    width: 15px;
    background-color:rgba(75, 200, 252, .9);
    border-radius: 50%;

}

.flex-program{
    display: flex;
    flex-wrap: wrap;
}